.topSpacer {
  background: rgb(26, 27, 27);
  height: 50px;
}

.container {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HomeLogo {
  text-decoration: none;
  color: #19b6d0;
  font-family: "Monoton", cursive;
  font-size: 40px;
  margin-left: 10px;
}

.topnav a {
  float: left;
  color: #19b6d0;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #ff0000;
}
