.bg-img {
  background-image: url("https://mocah.org/thumbs/122291-sunset-horizon-low-poly.png");
  height: 650px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  margin: 20px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: black;
}

.headerLogo {
  text-decoration: none;
  color: white;
}
